.dangky{
  &__btnSelect{
    background: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    $x:44px;
    line-height: calc(#{$x} - 2px);
    text-transform: inherit;
    text-align: left;
    padding-left: 10px;
    .uk-icon{
      right: 10px;
    }
  }
  &__line{
    width: 24%;
    border-top: 1px dashed #000000;
    margin: 0 auto;
  }
}