.item{
  $x:100;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__about &{
        margin-top: 50px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:94;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .timgiaovien__ketquasearch &{
        margin-top: 30px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:60;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__block04 &{
        margin-top: 0px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:53;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
      .dangnhap__card &{
        margin-top: 30px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:50;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:47;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;


      .home__muonhoc &{
        margin-top: 10px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:46;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__banner &{
        margin-top: 10px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:44;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:40;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__block04 &{
        margin-top: 0px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:38;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
      .home__banner &{
        margin-top: 10px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:36;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  &__35{
    &:nth-child(n+2){
      margin-top: 35px;
    }
  }
  &__34{
    &:nth-child(n+2){
      margin-top: 34px;
    }
  }
  $x:30;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:28;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:27;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:26;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  &__24{
    &:nth-child(n+2){
      margin-top: 24px;
    }
  }
  $x:23;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:20;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:18;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  &__15{
    &:nth-child(n+2){
      margin-top: 15px;
    }
  }
  $x:14;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:12;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  &__10{
    &:nth-child(n+2){
      margin-top: 10px;
    }
  }
  &__9{
    &:nth-child(n+2){
      margin-top: 9px;
    }
  }
  $x:8;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  &__7{
    &:nth-child(n+2){
      margin-top: 7px;
    }
  }
  $x:5;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
}