.uk{
  &-modal{
    background: rgba(0, 0, 0, 0.4);
    &-dialog{
      width: 100%;
      $x:1152;
      &-m#{$x}{
        max-width: #{$x}px !important;
      }
      $x:1120;
      &-m#{$x}{
        max-width: #{$x}px !important;
      }
      $x:665;
      &-m#{$x}{
        max-width: #{$x}px !important;
      }
    }
  }
}
.modal{
  &__body{
    padding: 20px;
  }
  &__header{
    @extend .modal__body;
    border-bottom: 1px solid #EBEBEB;
  }
  &__footer{
    @extend .modal__body;
    border-top: 1px solid #EBEBEB;
  }
  &__close{
    &.uk-modal-close-outside{
      transform: translate(50%,-50%);
    }
    &.uk-offcanvas-close{
      top: 11px;
      right: 9px;
    }
    $x:28px;
    width: #{$x};
    height: #{$x};
    background-size: contain;
    @include media-breakpoint-up('m'){
      $x:34px;
      width: #{$x};
      height: #{$x};
    }
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_840_67952)'%3E%3Ccircle cx='21' cy='21' r='17' fill='black'/%3E%3Ccircle cx='21' cy='21' r='16.5' stroke='white'/%3E%3C/g%3E%3Crect x='15.7646' y='13.5' width='18.7168' height='2.49557' rx='1.24779' transform='rotate(45 15.7646 13.5)' fill='white'/%3E%3Crect x='28.999' y='15.2656' width='18.7168' height='2.49557' rx='1.24779' transform='rotate(135 28.999 15.2656)' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_840_67952' x='0' y='0' width='42' height='42' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_840_67952'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_840_67952' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    svg{
      opacity: 0;
    }
    .modal &{
      opacity: 0;
      @include media-breakpoint-up('m'){
        opacity: 1;
      }
    }
  }
  &__danhgia{
    &__title{
      color: #000;
      @extend .fz-18;
      font-family: $Lexend-SemiBold;
    }
    &__txt{
      color: #000;
      @extend .fz-16;
    }
    &__label{
      color: #000;
      @extend .fz-16;
      font-family: $Lexend-Medium;
    }
    &__input{
      background: #F9F9F9;
      border: 1px solid #EFEFEF;
      box-sizing: border-box;
      border-radius: 10px;
      @extend .fz-16;
      &::placeholder{
        color: #878787;
      }
    }
  }
  &__khoahoc{
    &__title{
      color: #000000;
      @extend .fz-18;
      font-family: $Lexend-Medium;
      position: relative;
      padding-bottom: 10px;
      span{
        color: #263238;
        @extend .fz-16;
        font-family: $Lexend-Regular;
      }
      &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #65AF54;
        border-radius: 1px;
        width: 15px;
        height: 2px;
      }
    }
    &__title1{
      color: #000000;
      @extend .fz-16;
      font-family: $Lexend-Medium;
    }
    &__checkbox{

    }
    &__box1{
      $x:8px;
      margin-bottom: #{$x};
      padding-bottom: #{$x};
      position: relative;
      @include media-breakpoint-up('m'){
        $x:11px;
        margin-bottom: #{$x};
        padding-bottom: #{$x};
      }
      &:after{
        content: "";
        position: absolute;
        display: flex;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 10.65px;
        height: 6px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.9827 4.65911C4.78847 4.8487 4.47845 4.8487 4.28421 4.65911L0.901952 1.35781C0.581083 1.04462 0.802818 0.5 1.2512 0.5L8.01572 0.5C8.4641 0.5 8.68583 1.04462 8.36496 1.35781L4.9827 4.65911Z' fill='%2365AF54'/%3E%3C/svg%3E%0A");
      }
    }
    &__card{
      border: 2px solid transparent;
      .modal__khoahoc__checkbox:checked ~ &{
        border: 2px solid #65AF54;
      }
      background: #FAFAFC;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding: 9px 9px;
      @include media-breakpoint-up('m'){
        padding: 15px 10px;
      }
    }
    &__txt1{
      color: #263238;
      @extend .fz-16;
    }
    &__btnLabel{
      $x:42px;
      line-height: calc(#{$x} - 2px);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-top: 10px;
      padding: 0 0px;
      @include media-breakpoint-up('m'){
        margin-top: 16px;
      }
      span{
        @extend .fz-16;
        font-family: $Lexend-SemiBold;
      }
      &.uk-button-danger{
        background: rgba(255, 15, 0, 0.2);
        color: #FF0F00;
      }
      &.uk-button-primary{
        background: rgba(101, 175, 84, 0.2);
        color: #65AF54;
      }
    }
  }
  &__chitietlichhoc{
    &__table{
      &__txt1{
        color: #000;
        @extend .fz-16;
      }
      &__txt2{
        color: #000;
        @extend .fz-14;
      }
      &__free{
        background: #65AF54;
      }
      &__locked{
        background: #FFFFFF;
        border: 1px solid #AEAEAE;
        box-sizing: border-box;
      }
      &__choosed{
        border: 1px solid #AEAEAE;
        box-sizing: border-box;
      }
      &__choose{
        background: #FB9A2B;
      }
      &__checkbox{

      }
      &__bgchoose{
        cursor: pointer;
        background: #65AF54;
        .modal__chitietlichhoc__table__checkbox:checked ~ &{
          background: #FB9A2B;
        }
      }
      &__bgchoosed{
        cursor: not-allowed;
      }
      thead{
        tr{
          border-top: 1px solid #e5e5e5;
          th{
            text-align: center;
          }
        }
      }
      tbody{
        tr{
          td{
            &:first-child{
              text-align: center;
              vertical-align: middle;
              padding-left: 6px;
              padding-right: 6px;
              @include media-breakpoint-up('m'){
                width: 139.86px;
              }
            }
            position: relative;
            padding: 0;
            border: 1px solid #e5e5e5;
            //width: 42.14px;
            @include media-breakpoint-up('m'){
              //width: 139.86px;
              height: 32px;
            }
          }
        }
      }
      tr{
        //border: none !important;
        th{
          text-transform: inherit;
        }
        &:last-child{
          //border-bottom: 1px solid #e5e5e5;
        }
      }
    }
    .uk-container{
      @include media-breakpoint-up('m'){
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &__navbar{
      background: #fff !important;
    }
    &__navItem{
      min-height: 72px;
      padding: 0 12.5px;
    }
    &__navTitle{
      color: #000000;
      @extend .fz-16;
      font-family: $Lexend-Medium;
    }
    &__icon{
      width: 31px;
      height: 31px;
      background: #FFFFFF;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        border-color: #000;
      }
    }
  }
}